{% extends "products/base.html" %} 
{% block content %}
<section>
  <ul>
    {% for category in categories %}
    <li>
      <a href="{% url 'products:category' category.id %}">
        {{ category.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <div class="product-grid">
    {% for product in products %}
    <div class="product-card">
      <div class="product-image">
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          width="100"
          height="100"
        />
      </div>

      <div class="product-name">
        <h3 class="product-info">
          <a href="#"> {{ product.name }} </a>
        </h3>

        <p class="product-price">{{ product.price }} руб.</p>

        <p class="product-description">{{ product.description }}</p>

        <div>
          <form
            action="{% url 'products:basket_add' product.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit">Отправить в корзину</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div>
  <ul>
    <li>
      {% if products.has_previous %}
      <a href="{% url 'products:paginator' products.previous_page_number %}">Предыдущая</a>
      {% endif %}
    </li>
    {% for page in products.paginator.page_range %} 
    <li>
        <a href="{% url 'products:paginator' page %}">{{ page }}</a>
    </li>
    {% endfor %}
    <li>
      {% if products.has_next %}
      <a href="{% url 'products:paginator' products.next_page_number %}">Следующая</a>
      {% endif %}
    </li>
  </ul>
</div>

{% endblock %}
